<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>499568966110-lmlt1q27tucbc1jfe8r903lerec6u6uu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.499568966110-lmlt1q27tucbc1jfe8r903lerec6u6uu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>499568966110-evp1g7ahs9731eepqm519vl5egqd47le.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDhoc6nKTAUSMidDYbeoZ1NTzQ9hVErf68</string>
	<key>GCM_SENDER_ID</key>
	<string>499568966110</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Bodhira.mentalhealthassistant</string>
	<key>PROJECT_ID</key>
	<string>mentalhealthassistant-c8648</string>
	<key>STORAGE_BUCKET</key>
	<string>mentalhealthassistant-c8648.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:499568966110:ios:80ec3a755888a03b73054f</string>
</dict>
</plist>